* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 1.25rem;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > img {
    width: 50px;
}

main {
    text-align: center;
}

main > section {
    padding-bottom: 30px;
}

main > section > img {
    width: 100px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 30px;
}